* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono NF SemiBold";
    font-weight: 500;
    font-size: 11px;
    padding: 0;
}

window#waybar {
    background: #1d2021;
    border: 2px solid #3c3836;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #303536;
    margin: 6px 0px 6px 6px;
    border: 2px solid #434a4c;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 2px 4px;
    color: #c7ab7a;
}

#workspaces button.focused {
    color: #303536;
    background-color: #c7ab7a;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    color: #d4be98;
}

#tray {
    background-color: #d4be98;
    border: 2px solid #c7ab7a;
}

/*
#battery {
    background-color: #a9b665;
    border: 2px solid #c7ab7a;
    color: #6c782e;
}
*/

#cpu,
#memory,
#network,
#pulseaudio,
#battery {
    /*background-color: #ddc7a1;*/
    /*border: 2px solid #c7ab7a;*/
    color: #ddc7a1; /*#1d2021*/
}

#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}
