[Unit]
Description=Idle manager for swaywm
Documentation=man:swayidle(1)
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 300 '~/.config/sway/scripts/lockscreen' \
            before-sleep '~/.config/sway/scripts/lockscreen'

[Install]
WantedBy=sway-session.target
